<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=name%> | Placement Postulates - SoCE IITK
    </title>
    <link rel="stylesheet" href="/css/blog.css">
    <link rel="icon" href="/img/SoCE-logo.svg">

    <!-- Primary Meta Tags  -->
    <meta name="title" content="SOCE-PLACEMENT POSTULATES by <%=name%>">
    <meta name="description"
        content="SoCE has come up with a new blog series named PLACEMENT POSTULATES to give u all an insights into placements and guide you through this. These blogs will contain students sharing their experience and most valuable tips which will help you in relaxing yourself during placement process.">

    <!-- Facebook  -->
    <meta property="og:site_name" content="SOCE-PLACEMENT POSTULATES by <%=name%>">
    <meta property="og:type" content="website">
    <meta property="og:title" content="SOCE-PLACEMENT POSTULATES by <%=name%>">
    <meta property="og:description"
        content="SoCE has come up with a new blog series named PLACEMENT POSTULATES to give u all an insights into placements and guide you through this. These blogs will contain students sharing their experience and most valuable tips which will help you in relaxing yourself during placement process.">
    <meta property="og:image" content= <%=thumbnail%> >

</head>